configuration {
    show-icons:                  false;
}

* {
    background-color:            transparent;
    text-color:                  #ffffff;
    font:                        "JetBrainsMono Nerd Font 48"; /* Extra large icons for full screen */
}

window {
    width:                        100%;
    height:                       100%;
    fullscreen:                   true;
    location:                     center;
    anchor:                       center;
    
    /* Highly transparent dark tint so Hyprland's blur shines through */
    background-color:             rgba(10, 10, 10, 0.3); 
}

mainbox {
    padding:                      0px;
    alignment:                    center;
    justify-content:              center;
    children:                    [ listview ];
}

listview {
    layout:                      horizontal; /* Keeps buttons in a horizontal row */
    spacing:                     40px;       /* Adds generous spacing between choices */
    lines:                       4;          /* Accounts for all your buttons */
    fixed-height:                false;
    scrollbar:                   false;
    
    /* Centers the horizontal list view vertically on the screen */
    margin:                      300px 0px 0px 150px;
}

element {
    width:                        220px;      /* Large square clickable areas */
    height:                       220px;
    padding:                      40px 0px;
    border-radius:                24px;       /* Smooth rounded button corners */
    background-color:           rgba(255, 255, 255, 0.03);
    border:                       2px;
    cursor:                       pointer;
}

element selected {
    background-color:             rgba(255, 255, 255, 0.15);
    color:                        #000000;
    border-color:                 #00ff11;    /* Neon accent borders when active */
    text-color:                   #00ff11;
}

element-text {
    vertical-align:              0.5;
    horizontal-align:            0.5;
    cursor:                      inherit;
}
